<nav>
    <ul class="navbar">
        <li class="navelement">
            <NavLink href="/" Match="NavLinkMatch.All">Startsidan</NavLink>
        </li>
        <li class="navelement">
            <NavLink href="/Converter" Match="NavLinkMatch.All">Konverteringssidan</NavLink>
        </li>
        <li class="navelement">
            <NavLink href="/Courses" Match="NavLinkMatch.All">Programmets kurser</NavLink>
        </li>
    </ul>
</nav>
